:root {
  --top-heading: 62px;
  --topnav-main: 42px;
  --topnav-padding: 10px 0px;
  --topnav-a-padding: 0px 56px 0px 56px; 

  --nav-borders: 3px solid;

  --sidenav-borders: 2px solid;
  --cv-max-width: 58ch;
  --cv-sidenav-width: 29.5%;
  --cv-main-shift: 33%; 

  --background-color: #fceeee;
  --text-color:#3a4454;
  --border-color: #3a4454;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--top-heading);
  overflow-y: scroll;
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-regular.woff2') format('woff2'),
    url('./fonts/LM-regular.woff') format('woff'),
    url('./fonts/LM-regular.ttf') format('truetype');
}
  
@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-italic.woff2') format('woff2'),
    url('./fonts/LM-italic.woff') format('woff'),
    url('./fonts/LM-italic.ttf') format('truetype');
}
  
@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold.woff2') format('woff2'),
    url('./fonts/LM-bold.woff') format('woff'),
    url('./fonts/LM-bold.ttf') format('truetype');
}
  
@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
    url('./fonts/LM-bold-italic.woff') format('woff'),
    url('./fonts/LM-bold-italic.ttf') format('truetype');
}

p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  margin-top: 1rem;
  padding-bottom: 10px;
}
  
body {
  font-family: 'Verdana';
  line-height: 1.7;
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

img {
  float: right;
  margin-left: 60px;
  margin-bottom: 25px;
  margin-top: 25px;
}
  
a:link {
  color: var(--text-color);
}
    
a:visited {
  color: var(--text-color);
}
    
a:hover {
  color: #900603;
}

p a {
  text-decoration: none;
  color: var(--text-color);
}

li{
  text-align: justify;
}

p + ul {
  margin-top: -15px;
}

.small_list_margin {
  margin-top: -28px;
}

.mainheader {
  height: 10%;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 42px;

  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);

  padding-top: 30px;
  padding-bottom: 20px;     
  font-weight: bold;
}

/* The sidebar menu */
.topnav {
  height: var(--topnav-main); 
  width: 100%; 
  padding: var(--topnav-padding);
  position: sticky; 
  top: 0;
  border-top: var(--nav-borders);
  border-bottom: var(--nav-borders);

  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);

  overflow-x: hidden;
  overflow-y: hidden;
}

/* The sidebar menu */
.sidenav {
  float: left;
  margin-top: 2%;
  width: var(--cv-sidenav-width); 
  position: sticky; 
  top: 0%;
  left: 0;

  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);

  padding-top: 0px;
  overflow-x: hidden;
}

/* The navigation menu links */
.topnav a {
  padding: var(--topnav-a-padding);
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 22px;
  font-weight: bold;

  padding: 0px 15px 24px 0px;
}

/* Style page content */
.main {
  padding: 30px 0px;
  max-width: 84ch;
  line-height: 1.8;
  font-size: 18px;
  margin: 0 auto;

  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
} 

.sidenavmain {
  margin-left: var(--cv-main-shift);

  margin-top: 10px;
  padding: 15px 80px;

  border-left: var(--sidenav-borders);
  border-color: var(--border-color);

  max-width: var(--cv-max-width);
  line-height: 1.8;
  font-size: 18px;
  overflow-x: hidden;
}

.cv_heading {
  font-size: 22px;
  padding-bottom: 8px;
  padding-top: 10px;
  border-bottom: 1.5px solid;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}

.horizontal_center {
  text-align: center;
}

