:root {
  --top-heading: 62px;
  --topnav-main: 42px;
  --topnav-padding: 10px 0px;
  --topnav-a-padding: 0px 44px 0px 44px; 

  --nav-borders: 3px solid;

  --sidenav-borders: 2px solid;
  --cv-max-width: 58ch;
  --cv-sidenav-width: 29.5%;
  --cv-main-shift: 33%; 

  --background-color: #eaeafd;
  --project-box-color: #eaeafd;
  --text-color:#3a4454;
  --border-color: #3a4454;

  /* --background-color: #2d3b43;
  --project-box-color: #2d3b43;
  --text-color: #e6e6e6;
  --border-color: #e6e6e6; */

  --line-height: 1.8;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--top-heading);
}


p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  margin-top: 1rem;
  padding-bottom: 10px;
}
  

body {
  font-family: 'Verdana', 'Geneva', 'sans-serif';
  overflow-y: auto;
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

footer {
  text-align: center;
  font-size: 16px;
  bottom: 0;
  left: 0;
}

a:link {
  color: var(--text-color);
}
    

a:visited {
  color: var(--text-color);
}
    

a:hover {
  color: #900603;
  transition: color 0.2s ease-in-out
}


p a {
  text-decoration: none;
  color: var(--text-color);
}


li{
  text-align: justify;
}


p + ul {
  margin-top: -15px;
}


.small_list_margin {
  margin-top: -28px;
}


.mainheader {
  height: 10%;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 42px;

  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);

  padding-top: 30px;
  padding-bottom: 20px;     
  font-weight: bold;
}



/* The sidebar menu */
.topnav {
  height: var(--topnav-main); 
  width: 100%; 
  padding: var(--topnav-padding);
  position: sticky; 
  top: 0;
  border-top: var(--nav-borders);
  border-bottom: var(--nav-borders);

  backdrop-filter: blur(4px);
  border-color: var(--border-color);
  border-style: solid;
  border-width: 3px 0;
  z-index: 1000;

  background-color: var(--background-color);
  color: var(--text-color);

  overflow-x: hidden;
  overflow-y: hidden;
}


/* The sidebar menu */
.sidenav {
  float: left;
  margin-top: 2%;
  width: var(--cv-sidenav-width); 
  position: sticky; 
  top: 88px;
  left: 0;

  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);

  padding-top: 0px;
  overflow-x: hidden;
}


/* The navigation menu links */
.topnav a {
  padding: var(--topnav-a-padding);
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}


/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 22px;
  font-weight: bold;

  padding: 0px 15px 24px 0px;
}


/* Style page content */
.main {
  padding: 30px 0px;
  max-width: 84ch;
  line-height: var(--line-height);
  font-size: 18px;
  margin: 0 auto;

  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
} 


/* Style page content */
.bio {
  padding: 30px 0px;
  max-width: 84ch;
  line-height: var(--line-height);
  font-size: 18px;
  margin: 0 auto;

  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
} 

.bio img {
  float: right;
  border-radius: 10px;
  margin-left: 60px;
  margin-bottom: 25px;
  margin-top: 25px;
}


.sidenavmain {
  margin-left: var(--cv-main-shift);

  margin-top: 10px;
  padding: 15px 80px;

  border-left: var(--sidenav-borders);
  border-color: var(--border-color);

  max-width: var(--cv-max-width);
  line-height: var(--line-height);
  font-size: 18px;
  overflow-x: hidden;
}


.cv_heading {
  font-size: 22px;
  padding-bottom: 8px;
  padding-top: 10px;
  border-bottom: 1.5px solid;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}


.horizontal_center {
  text-align: center;
}

.project_box {
  width: 68ch;
  border: 0.5px solid;
  border-radius: 14px;
  border-color: var(--border-color);
  background-color: var(--project-box-color);
  padding: 10px 45px 10px 45px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 18px
} 

.project_box img {
  padding: 20px 10px 10px 10px;
}

.project_heading {
  font-size: 22px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1.5px solid;
  border-color: var(var(--border-color));
  text-align: center;
  font-style: normal;
  font-weight: bold;
}


/* @media (max-width: 768px) {
  .topnav a {
    display: inline-block;
    padding: 0 20px;
    font-size: 18px;
  }

  .sidenav {
    display: none;
  }

  .sidenavmain {
    margin-left: 0;
    padding: 15px 20px;
    border-left: none;
  }

  img {
    float: none;
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }

  .mainheader {
    font-size: 32px;
    padding: 20px 0;
  }
} */